configure
Makefile.in
depcomp
compile
config.guess
ltmain.sh
config.sub
INSTALL
ChangeLog
config.h.in
missing
aclocal.m4
install-sh
autom4te.cache
config.log
config.h
FEATURES.txt
.deps
Makefile
config.status
stamp-h1
util-vserver.spec
libtool
util-vserver-*.tar.*
pathconfig.h
.*.stamp
*.a
