*.a
.*.stamp
.X_*etc-up-to-date
.deps
.fixups
ChangeLog
FEATURES.txt
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
man/vserver-build.8
missing
pathconfig.h
python/.dirstamp
python/.libs/
python/_libvserver-constants.c
python/python__libvserver_la-_libvserver.lo
src/exec-remount
src/tunctl
stamp-h1
util-vserver-*.tar.*
util-vserver.spec
