div.program
{ 
  margin: 0.5ex;
  padding: 0.5ex;
}

div.program div.name
{
  font-weight: bold;
}

div.program div.name,
div.program div.clicompat,
div.program div.funccompat
{
}

div.program div.clicompat,
div.program div.funccompat
{
  margin-left: 1em;
}

div.clicompat div.text,
div.funccompat div.text
{
  margin-left: 1em;
}
