body {
  font-size: 12pt;
  background-color: white;
  margin: 10px;
}

span.directory {
  //text-decoration: underline;
}


span.symlink:after { 
  content: " [symlink]"; 
  font-size: 8pt;
  font-style: normal;
}

span.symlink {
  text-decoration: none;
  font-style: italic;
}

span.script:after { 
  content: " [script]"; 
  font-size: 8pt;
  font-style: normal;
}

span.script {
  color: gray;
}

span.symbolic:before { content: "<"; }
span.symbolic:after  { content: ">"; }

span.symbolic {
  font-style: italic;
  text-decoration: none;
}

div.description {
  background-color: #ffffdd;
}


div.elements {
  padding-left: 1em;
}

dd.elements {
}

dt.elements {
}
