Source: util-vserver
Section: net
Priority: optional
Maintainer: Daniel Hokka Zakrisson <daniel@hozac.com>
Build-Depends: debhelper (>= 9), gawk, dietlibc-dev, net-tools, vlan, iptables, wget, procps, module-init-tools, libnss3-dev, po-debconf, e2fslibs-dev, pkg-config, python-dev, ctags
Standards-Version: 3.8.4
Homepage: http://savannah.nongnu.org/projects/util-vserver/

Package: util-vserver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, util-vserver-core, libvserver0, util-vserver-sysv, diffutils | diff, gawk
Description: utilities for managing Linux-VServer guests
 util-vserver provides the components and a framework to setup virtual
 servers.  A virtual server runs inside a Linux server. It is nevertheless
 highly independent. As such, you can run various services with normal
 configuration. The various vservers can't interact with each other and
 can't interact with services in the main server.

Package: libvserver0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: dynamic libraries for util-vserver
 util-vserver provides the components and a framework to setup virtual
 servers.  A virtual server runs inside a Linux server. It is nevertheless
 highly independent. As such, you can run various services with normal
 configuration. The various vservers can't interact with each other and
 can't interact with services in the main server.

Package: util-vserver-core
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: core utilities of util-vserver
 util-vserver provides the components and a framework to setup virtual
 servers.  A virtual server runs inside a Linux server. It is nevertheless
 highly independent. As such, you can run various services with normal
 configuration. The various vservers can't interact with each other and
 can't interact with services in the main server.

Package: util-vserver-build
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, util-vserver, wget, binutils
Description: tools which can be used to build vservers
 util-vserver provides the components and a framework to setup virtual
 servers.  A virtual server runs inside a Linux server. It is nevertheless
 highly independent. As such, you can run various services with normal
 configuration. The various vservers can't interact with each other and
 can't interact with services in the main server.

Package: util-vserver-sysv
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, util-vserver, make, diffutils | diff
Description: initscripts for util-vserver
 util-vserver provides the components and a framework to setup virtual
 servers.  A virtual server runs inside a Linux server. It is nevertheless
 highly independent. As such, you can run various services with normal
 configuration. The various vservers can't interact with each other and
 can't interact with services in the main server.

Package: util-vserver-legacy
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends}, util-vserver
Description: legacy scripts for util-vserver
 util-vserver provides the components and a framework to setup virtual
 servers.  A virtual server runs inside a Linux server. It is nevertheless
 highly independent. As such, you can run various services with normal
 configuration. The various vservers can't interact with each other and
 can't interact with services in the main server.

Package: libvserver0-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libvserver0, pkg-config
Description: headers and libraries needed to develop vserver based applications
 util-vserver provides the components and a framework to setup virtual
 servers.  A virtual server runs inside a Linux server. It is nevertheless
 highly independent. As such, you can run various services with normal
 configuration. The various vservers can't interact with each other and
 can't interact with services in the main server.

Package: util-vserver-python
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libvserver0, ${python:Depends}
Description: python-bindings for util-vserver
 util-vserver provides the components and a framework to setup virtual
 servers.  A virtual server runs inside a Linux server. It is nevertheless
 highly independent. As such, you can run various services with normal
 configuration. The various vservers can't interact with each other and
 can't interact with services in the main server.
