body {
  font-size: 12pt;
  background-color: #ffc3df;
  margin: 0px;
  background-image: url("./flowers.png");
}

span.directory {
  background-color: green;
  color: aqua;
}

span.symlink {
  background-color: red;
  color: yellow;
}

span.script {
  background-color: blue;
  color: gray;
}

span.symbolic:before { content: "<"; }
span.symbolic:after  { content: ">"; }

span.symbolic {
  font-style: italic;
}

span.description {
  background-color: yellow;
  color: red;
}
