/* written by Sam Vilain */

body {
  font-size: 12pt;
  margin: 0px;
  background-image: url("./flowers2.png");
  color: #213b4d;
  border: 10px ridge #b7e4bf;
  padding: 0.5em;
}

h1 {
  padding: 0.3em;
  text-decoration: underline;
  font-size: 16pt;
  font-family: sans;
  -moz-border-radius: 16px;
  color: #ccaf3e;
  background: #b7e4bf;
}

span.directory, span.hash, span.file, span.list, span.data, span.script, span.symlink, span.boolean {
  background: #b7e4bf;
  -moz-border-radius: 8px;
  padding: 0.1em 0.5em 0.1em 0.5em;
  color: #7f6037;
  font-family: lucida mono, monospace;
}

span.symlink {
  font-style: italic;
}

span.symbolic:before { content: "<"; }
span.symbolic:after  { content: ">"; }

span.directory:after  { content: "/"; color: #aaaaaa }
span.hash:after  { content: " (hash)"; color: #aaaaaa }
span.list:after  { content: " (list)"; color: #aaaaaa }
span.file:after  { content: " (file)"; color: #aaaaaa }
span.data:after  { content: " (data)"; color: #aaaaaa }
span.script:after  { content: " *"; color: #aaaaaa }
span.symlink:after  { content: " ->"; color: #aaaaaa }
span.boolean:after  { content: " ?"; color: #aaaaaa }

li {
  padding: 0.2em;
}

span.symbolic {
  font-style: italic;
  color: #bf8047;
}

span.description {
  color: #69576c;
}

a {
  color: #7f6037;
}
