body {
  font-size: 12pt;
  background-color: #ffc3df;
  margin: 0px;
  background-image: url("./flowers.png");
}

body:before {
  content: "if you think this css needs some improvement, go ahead, send me a better one ;)";
  font-weight:bold;
  color: red;
  font-size: 36pt;
  text-decoration: blink;
}

span.directory {
  background-color: green;
  color: aqua;
}

span.symlink {
  background-color: red;
  color: yellow;
}

span.script {
  background-color: blue;
  color: gray;
}

span.symbolic:before { content: "<"; }
span.symbolic:after  { content: ">"; }

span.symbolic {
  font-style: italic;
}

span.description {
  background-color: yellow;
  color: red;
}
